@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
  --primary: #FBC14B;
  --secondary: #B0DB43;
  --bg: #BCE7FD;
  --accent: #BA274A;
  --text: #FE6474;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App-header{
  font-family: "Poetsen One", sans-serif;
  color: #FE6474; /* Pinkish color */
  font-size: 5rem; /* Adjusted for better visibility */
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; /* stacks elements vertically */
  align-items: center;    /* horizontally center each element */
  padding-bottom: 4px;
  background-color: #BCE7FD;
}

.button-custom {
  font-family: "Poetsen One", sans-serif !important;
  font-style: normal;
  background-color: var(--secondary) !important; 
  border-radius: 30px !important; /* Rounded corners */
  border: none !important;
  color: var(--text) !important;
  padding: 15px 32px !important;
  text-align: center;
  font-size: 16px !important;
  width: 200px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.button-custom:hover {
  background-color: #9fcf83; /* Darker green on hover */
  translate: translateY(-2px);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.select-custom{ 
  font-family: "Poetsen One", sans-serif;
  border-radius: 30px !important;
  background-color: var(--primary) !important; 
  border: none !important;
  color: var(--text) !important;
  padding: 15px 32px !important;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Food-theme{
  background-repeat: repeat;
  background-image: url('images/picnic.jpeg');
  background-size: 500px 500px;
  color: var(--text);
  height: 100vh;
}

.Music-theme{
  /*background-image: url('images/musicbackground.jpeg');
  background-size: cover;*/
  background: #BCE7FD;
  background: linear-gradient(175deg, rgb(113, 169, 233) 50%, rgba(188, 231, 253, 1) 100%);
  color: var(--bg);
  height: 100vh;
}

.score{
  font-family: "Poetsen One", sans-serif;
  font-size: 2rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 1%;
  padding-top: 1%;
}

.highscore{
  font-family: "Poetsen One", sans-serif;
  font-size: 1rem;
  padding-left: 1%;
}

.emoji{
  font-size: 3rem;
}